.CreateJourneyPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.CreateJourneyPage__callout-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

