.form-page-container-signinup{
  background-image: url('./../img/accueuil.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--brown);
  align-items: center;

}

.form-title-app{
  color: var(--brown);
  font-family: BoskaBlack;
  font-size: 105px;
  margin-top: 105px;
  white-space: normal;
}
.form-container{
  /* margin-left: 24px;
  margin-right: 24px; */
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 40vh;
  justify-content: space-between;
  position:absolute;
  bottom: 0;
  font-weight: bold;
}
/* Floating column for inputs: 75% width */
.input {
  width: 200px;
  border-radius: 4px;
  padding: 10px;
  border: none;
  /* border: 1px solid --lightbrown; */
  background-color: var(--lightbrown);
  float: left;
  width: 65%;
  margin-top: 6px;
  font-family: Satoshi;
  color: var(--brown);
}

.btn {
  background-color: var(--brown);
  border-radius: 4px;
  padding: 8px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--beige);
  font-family: BoskaBlack;
  font-size: 20px;
  /* width: 65%; */
  margin-left: auto;
  margin-right: auto;
  /* margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -30%; */
}


.btn:hover{

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

}
/* Floating column for labels: 25% width */
.label {
  float: left;
  width: 35%;
  margin-top: 6px;
  text-align: start;
}




.toggle-signinup {
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 24px;
  display: flex;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
  justify-content: space-between;
  margin-top: 50px;
}

