.global-create-container-homesearch{
height: 100vh;
width: 100vw;
}

.map-container-homesearch{
  z-index: -1;
}





.menu-homesearch{
  width: 100vw;
  /* background-image: url('/src/img/search.png'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100vh;
  z-index: 5;
  color: var(--beige);
background-color: var(--vert);
}

 /* #input-geocoder-homesearch{
  border-radius: 4px;
  padding: 10px;
  border: none;
  background-color: var(--lightbrown);
  float: left;
  width: 65%;
  margin-top: 6px;
  font-family: Satoshi;
  color: var(--brown);
 } */

 .nav-icone-container-homesearch{
   color: var(--beige);
   padding: 24px;
   display: flex;
   justify-content: space-between;
 }

 .feature-container-homesearch{
  color: var(--beige);
  padding: 24px;
  display: flex;
  justify-content: space-between;
 }