.profile-global-container{
    background-color: var(--beige);
    overflow-x: hidden;
    width: 100%;
    background-image: url('/src/img/profilebgoki.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
    height: 100vh;
    position: absolute;
}

/* header */
.title-typo{
    color: var(--beige);
    font-family:BoskaBlack;
    font-size: 20px;
}
.profile-characteristic-container{
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}



.sub-container-profile-follower{
    justify-content: space-evenly;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--brown);
    font-weight: bold;
}

.profile-follower:nth-child(2n) {

    
}
.profile-follower:nth-child(1n) {
margin-right: 20px;
    
    
}
/*end of header*/

/*section*/
.all-card-container{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    
}

.button-switch-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.button-switch{
    background-color: var(--beige);
    color: var(--brown);
    padding : 8px 12px;
    border-radius: 4px;
    border-style: solid;
    border: 0.5px solid --brown;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Satoshi;
    font-size: 15px;
    font-weight: bold;
}

.button-switch:hover {
    background-color: var(--lightbrown);
    opacity: 0.5;
    color: var(--brown);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: normal;
  }

  .switch-link{
      color: var(--beige);
      font-weight: bold;
      text-decoration: none;
  }
/*footer*/
.footer{
    position:absolute;
    /* position : fixed; */
    bottom: 0;
    width: 100vw;
}

.nav-icone-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.wave-bottom{
    /* aspect-ratio: 900/600; */
    z-index: 4;
    
    width: 100%;
  
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    padding:24px;
}

  .icone{
      color: var(--vert);
      font-size: xx-large;
  }

  .affichage-vertical{
      display: flex;
      justify-content: space-between;
  }