.Header {
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 1;
  background-color: #095256;
  color: white;
}

.Header__call-to-action {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Satoshi;
  padding: 4px 8px;
  border: 1px solid white; 
  border-radius: 4px;
  margin-left: 16px;
  line-height: 27px;
}

.Header__profile__pic {
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  width: 42px;
  height: 42px;
}

.Header__profile {
  display: flex;
  align-items: center;
  margin-left: 16px;
  background: none;
  border: none;
  margin-left: auto;
}

.Header__profile__item--active {
  font-weight: bold;
}