/* partie scroll horizontal */
.tagContainer{
    max-width: 50vw;
    /* border : 2px solid tomato; */
    display: flex;
    overflow-x: auto;
  }
  
  .tagContainer::-webkit-scrollbar{
    width : 0;
  }
  
  .tagContainer .item{
  
    font-weight: bold;
    color: var(--beige);
    text-align: center;
    margin: 2px 5px 0px 2px;
    padding: 8px;
    border-radius: 25px;
  }

  /*Partie de test css pour profile*/

.globalContainerJourneyCard{
    color: var(--beige);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .innerBoxContainer-journey{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50vw;
  }

  .map-container{
    margin-right: 10px;
  }

  .map{
      border-radius: 0%;
  }

  #townName {
      text-decoration: 2px underline;
  }

 .deletebtn{
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    
  }

  #deleteimg {
    width: 4%;
  }

  .innerBoxContainer-link{
    margin-right: 0;
  }