.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* flex-direction: row; */
  padding: 12px;
}


img{
  max-height: 100%;
}

svg{
  max-height: 100%;
}