.App {
  text-align: center;
}


/* partie css a supprimer c'etait juste un kiff */
.buttonHome {
  background-color: #F6884D;
  width: 100px;
  padding : 10px;
  margin : 10px;
  border-radius: 10px;
  border-style: none;
}

.buttonHome:hover {
  background-color: whitesmoke;
  width: 100px;
  padding : 10px;
  margin : 10px;
  border-radius: 10px;
  border-style: none;
}

.linkHome{
  text-decoration: none;
  color : black;
  font-weight: bold;
}

.spacer{
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blob-scene-haikei{
    background-image: url("../src/img/blob-scene-haikei.svg");
}

.title{
  color :whitesmoke;
}

.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* page 404  */

.page404{
  background-color:#141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}


#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}


.circle{
  background-color: tomato;
  border-radius: 100%;
}
.test{
  color: whitesmoke;
}


/* partie css a supprimer c'etait juste un kiff */

/*Partie de test css pour profile*/

.globalContainerJourneyCard{
  color: white;
  background-color: #425C59;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.innerBoxContainer{
  border: 1px solid tomato;

}

/* .tagContainer{
  max-height: 80px;
  border : 2px solid tomato;
  display: flex;
  align-items: center;
  overflow-x: auto;
} */

/* .tagContainer .item{
  margin: 10px;
  padding: 10px;
  max-width: 50px;
  border-radius: 25px;
  background-color: violet;
  font-weight: bold;  
  text-align: center;
} */


.tagContainer{
  max-width: 50vw;
  /* border : 2px solid tomato; */
  display: flex;
  overflow-x: auto;
}

.tagContainer::-webkit-scrollbar{
  width : 0;
}

.tagContainer .item{
  background-color: tomato; 
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 2px 5px;
  padding: 8px;
  border-radius: 25px;
}

