@import './styles/reset.css';

@font-face {
  font-family: Satoshi;
  src: url('./fonts/Satoshi-Light.otf');
}

@font-face {
  font-family: Neco;
  src: url('./fonts/Neco-Regular.otf');
}
@font-face {
  font-family: Boska;
  src: url('./fonts/Boska-Medium.otf');
}
@font-face {
  font-family: BoskaBlack;
  src: url('./fonts/Boska-Black.otf');
}

:root {
  --vertfonce: #1B2817;
  --beige: #EBDFCA;
  --vertclair:  #68917B;
  --verttresclair: #9CC99F;
}

.App {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Satoshi;
  max-width: 375px;
  max-height: 812px;
}

.is-hidden {
  display: none;
}

/* TODO: make the centered layout for non mobile view */
/* .wrap-app{
  display: flex;
justify-content: center;
} */



